body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  margin-left: 87px;
}

#link {
  margin-left: 5rem;
  color: black;
}

#intro {
  margin-top: 100px;
  /* display: inline-block; */
}

#heading {
  color: #BF8B6E;
}

#mainIMG {
  margin: 100px 0 0 -200px;
}

#contact {
  background-color: #F2B56B;
  border: none;
}

p {
  color: #869AA6;
}

#resume {
  margin-top: 100px;
  width: 636px;
}