body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  margin-left: 87px;
}

#link {
  margin-left: 5rem;
  color: black;
}

#intro {
  margin: 100px 0 50px 0;
}

#heading {
  color: #BF8B6E;
}

#mainIMG {
  margin: 100px 0 0 -200px;
}

#contact {
  background-color: #F2B56B;
  border: none;
  color: white;
  width: 120px;
  padding: 7px;
}

#projects {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #869AA6;
}

#resume {
  margin: 50px 0 50px 0;
  width: 636px;
}

#devresume {
  width: 636px;
}

#pIMG {
  width: 400px;
  margin-top: 20px;
}

#pnotes {
  margin-left: 200px;
}

#ptitle {
  margin-left: 200px;
  color: #BF8B6E;
}

footer {
  margin: 100px 0 50px 0;
  padding: 50px;
}

#portfolio {
  margin: 100px 0 50px 0;
  color: #BF8B6E;
}

a:hover {
  font-size: 110%;
}

#description {
  margin: 100px 0 100px -100px;
  max-width: 800px;
}



@media (min-width: 500px) {

}